body {
  background:#fff url('/images/bkg.png') repeat-x 0 0 ;
}

.container {
/*  background-color: green;*/
}

#empty-header{
  background:url('/images/tech_blog.png') 290px 0 no-repeat;
  height: 230px;

}
.testGlow{
  -webkit-box-shadow:0px 0px 13px #3c3c3c;
  -moz-box-shadow: 0px 0px 13px #3c3c3c;
  box-shadow:0px 0px 13px #3c3c3c;

}
#white-body {
  background-color: #ffffff;
  min-height: 600px;
}
#logoHead{
  margin:130px 0 0 20px;
}

.round-top {
  background-color: white;
  height: 45px;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
}

.post {
  margin-bottom: 50px

}

.post h1, .post h1 a {
  background-color: white;
  color: #343434;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding-left:10px;

}

.post h1 a:hover {
  text-decoration: underline;
}

.entry h3 a, .entry h3 a:visited {
  color: #175057;
  text-decoration: none;
}

.post .date {
  color: white;
  font-weight: normal;
  font-size:12px;
  background:url('/images/date.png') no-repeat top left;
  padding:5px 10px 30px;
  position:absolute;
  top:2x;
  left:-63px;
  text-align:center;
  line-height:15px
}

.post .author {
  color: #666666;
  padding-top: 2px;
  font-size: 16px;
  position:relative;
  margin:0;

}

.author_box
{
  background:#efeeee url('/images/author_bkg.png') no-repeat 80px 0;
  color:#666;
  font-size:14px;
  position:relative;
  top:0px;
  padding:20px 0 0 100px;
  height:30px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
}

.post .body {
  background-color: #CDCDCD;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #353535;
  /*
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  */
}

.post .body h2 {
  font-size: 18px;
  color: #175057;
}

.post .body h3 {
  font-size: 16px;
  color: #175057;
}

.post .body blockquote {
  font: 14px/20px;
  padding-left: 70px;
  padding-top: 18px;
  padding-bottom: 0px;
  padding-right: 10px;
  background-color: #dadada;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px auto 20px;
  background-image: url(/images/openquote4.gif);
  background-position: middle left;
  background-repeat: no-repeat;
  text-indent: 23px;
  color: #353535;
} 

.right-side a {
  color: #175057;
  text-decoration: none;
  border-bottom:1px solid;
  font-weight: bold;
}

.right-side h1 {
  font-size: 16px;
  color: #879e1c;
}

.right-side ul li a {
  color:black;
  border-bottom:none;
}

.right-side p {
  color: #353535;
}

#footer {
  height: 72px;
  text-align: center;
  color: #CDCDCD;
  background:url('/images/footer-bkg.gif') repeat-x;
  clear:both;
  border-top: 1px solid #CCC;
  padding-top:15px;
}

#footer a, #footer a:visited {
  color: #175057;
  text-decoration: none;
  height: 72px;
}


.about {
  font-size: 11px;
}

.left-side
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.left-side a{
  color:#175057;
  text-decoration:underline;
  font-weight: bold;
}

.left-side a:hover{
  color:black;
  text-decoration:underline;
}

.left-side h1 a:hover{
  color:black;
}

.round-bottom {
  background-color: white;
  height: 45px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
}

.copy
{
  text-align:left;
  padding-left:50px;
  padding-top:20px;
}
.copyContent{
  margin: 0 auto;
  width:950px;
  background: url('/images/logo.png') no-repeat 700px 0;
  height:72px;
}

ul.archives {
  font-size: 14px;
}

#disqus_thread {
  margin-top: 20px;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: black;
}

.comments {
  margin-top: 30px;
  text-align: center;
}

.gravatar {
  width: 90px;
}

em {
  font-weight: bold;
}

.tweet {
  text-align: center;
  margin: 20px;
}

.nav_links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav_links a {
  text-decoration: none;
}

.nav_links .next {
  text-align: right;
  font-size: 12pt;
}

.nav_links .previous {
  text-align: left;
  font-size: 12pt;
}
