<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>Crowd Interactive Tech Blog :: Home</title>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection" />
  <![endif] -->
</head>
<body>
  <div class="container">
    <div id="empty-header" class="span-24 last">
      &nbsp;
    </div>
    <div class="span-24 append-bottom">
      <div class="round-top span-24">
        &nbsp;
      </div>
      <div id="white-body" class="span-24">
        <div class="left-side span-17">
          {{ content }}
                  </div>
                  <div class="right-side span-5 last prepend-1">
                    <p><a href="/"><h1>Blog Home</h1></a></p>
                    <h1>About Crowd Interactive</h1>
                    <p class="append-1 about">Crowd Interactive is an American web design and development company that happens to work in Colima, Mexico. We develop awesome applications for commerce and social sites using Ruby on Rails. In the future (and the future is now), all important apps will be social apps. It’s not that there will be a million Facebooks, but that the features found on Facebook – tagging, comments, newsfeeds – will appear on millions of sites. If you want the power of the crowd, work with the experts at Crowd Interactive</p>
                    <h1>Favorite Sites</h1>
                    <ul>
                      <li><a href="http://www.crowdint.com">Crowd Interactive</a></li>
                      <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
                      <li><a href="http://ruby-lang.org">Ruby-Lang</a></li>
                      <li><a href="http://github.com/crowdint">Github</a></li>
                      <li><a href="http://radiantcms.org">Radiant <span class="caps">CMS</span></a></li>
                    </ul>
                    <h1>Recent Entries</h1>
                    <p><a href="/articles/">Archives&#8230;</a></p>
                    <h1>Syndicate</h1>
                    <p><a href="/rss/">Articles <span class="caps">RSS</span> Feed</a></p>
                  </div>
                </div>
                <div class="round-bottom span-24">
                  &nbsp;
                </div>
              </div>

              <div id="footer">
                <p class="copy">Copyright &copy; 2010, Crowd Interactive. All rights reserved.</p>
              </div>


            </div>
          </body>
          </html>