---
layout: default
---
<div class="post prepend-1">
  <h1>{{ page.title }}</h1>
  <p class="author">
    <span class="date">{{ page.short_date }}</span>
  </p>
  <div class="body prepend-1 append-1">
    <img src="http://www.gravatar.com/avatar/{{ page.avatar }}" class="avatar" />
    {{ content }}
    <div class="author_box">
      <p><b>Author:</b> {{ page.author }} | {{ page.email }}</p>
    </div>
  </div>
<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('58a0e7d0-411b-44b7-b27f-c9d218840126');</script><noscript>Get the <a href="http://www.widgetbox.com/widget/comments">Realtime Comments</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://docs.widgetbox.com/using-widgets/installing-widgets/why-cant-i-see-my-widget/">More info</a>)</noscript>
</div>