---
layout: default
---
<div class="post prepend-1">
  <h1>{{ page.title }}</h1>  
  <p class="author">
    <span class="date">{{ page.date | date:"<b>%b %d</b><br />%Y" }}</span>
  </p>
  <div class="body prepend-1 append-1">
    <div class="gravatar span-3"><img src="http://www.gravatar.com/avatar/{{ page.avatar }}" class="avatar" alt="Avatar" /></div>
    {{ content }}
    <div class="author_box">
      <p><b>Author:</b> {{ page.author }} | {{ page.email }}</p>
    </div>
    <div class="tweet">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /**
        * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
        */
        // var disqus_developer = 1;
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://crowdinttech.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=crowdinttech">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  <div class="nav_links span-16">
    {% if page.previous %}
      <div class="previous span-8"><a href="{{ page.previous.url }}"><< {{page.previous.title}}</a></div>
    {% endif %}
    {% if page.next %}
      <div class="next span-8 last"><a href="{{ page.next.url }}">{{page.next.title}} >></a></div>
    {% endif %}
  </div>
</div>
<div class="post prepend-1">
  <h1>Related Posts</h1>
  <ul class="archives">
{% for post in site.related_posts limit: 5 %}
  <li><span><b>{{ post.date | date_to_string }}</b></span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
  </ul>
</div>